block variables
doctype html
html
    head
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        link(rel='stylesheet', href='../stylesheets/style.css')
    body

        div.container-fluid
            div.row
                nav.navbar.navbar-default.navbar-fixed-top.blue
                    div.col-sm-4.hidden-xs
                        div.container-fluid
                            div.navbar-brand.whiteIcon
                                a(href=leftIconLink, class=headIconLeft + ' whiteIcon')
                                | &nbsp
                                b.whiteIcon= hiddenTitle
                            div.navbar-brand.pull-right.whiteIcon
                                a(href='new', class='glyphicon glyphicon-plus whiteIcon')
                    div.col-sm-8
                        div.container-fluid
                            div.navbar-brand.whiteIcon
                                a.hidden-sm.hidden-md.hidden-lg(href=leftIconLink, class=headIconLeft + ' whiteIcon')
                                span.hidden-sm.hidden-md.hidden-lg &nbsp
                                b.whiteIcon #{title}
                            div.navbar-brand.pull-right.whiteIcon
                                a(href=rightIconLink, class=headIconRight + ' whiteIcon')

        block content

        nav.navbar.navbar-default.navbar-fixed-bottom.blue
            div.container-fluid
                div.navbar-brand.pull-right
                    a(href="/user/profile", class="glyphicon glyphicon-user whiteIcon")
