block variables
doctype html
html
    head
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        link(rel='stylesheet', href='../stylesheets/style.css')
    body
        nav.navbar.navbar-default.navbar-fixed-top
            div.container-fluid
                div.navbar-brand
                    a(href=leftIconLink, class=headIconLeft + ' grayIcon')
                    | #{title}
                div.navbar-brand.pull-right
                    a(href=rightIconLink, class=headIconRight + ' grayIcon')

        div.container-fluid
            block content

        nav.navbar.navbar-default.navbar-fixed-bottom
            div.container-fluid
                div.navbar-brand.pull-right
                    a.glyphicon.glyphicon-user(href="/user/profile", id="blueIcon")

