block variables
doctype html
html
    head
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        link(rel='stylesheet', href='../stylesheets/style.css')
        meta(id="meta", name="viewport", content="width=device-width", initial-scale="1.0", user-scalable="no")
    body

        div.container-fluid
            div.row
                nav.navbar.navbar-default.navbar-fixed-top
                    div.col-sm-4.hidden-xs
                        div.container-fluid
                            div.navbar-brand
                                a(href=leftIconLink, class=headIconLeft + ' grayIcon')
                                | &nbsp
                                b= hiddenTitle
                            div.navbar-brand.pull-right
                                a(href=rightIconLink, class='glyphicon glyphicon-plus grayIcon')
                    div.col-sm-8
                        div.container-fluid
                            div.navbar-brand
                                a.hidden-sm.hidden-md.hidden-lg(href=leftIconLink, class=headIconLeft + ' grayIcon')
                                span.hidden-sm.hidden-md.hidden-lg &nbsp
                                b #{title}
                            div.navbar-brand.pull-right
                                a(href=rightIconLink, class=headIconRight + ' grayIcon')

        block content

        nav.navbar.navbar-default.navbar-fixed-bottom.blues
            div.container-fluid
                div.navbar-brand.pull-right
                    a(href="/user/profile", class="glyphicon glyphicon-user blueIcon")
