block variables
doctype html
html
    head
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        link(rel='stylesheet', href='../stylesheets/style.css')
        meta(id="meta", name="viewport", content="width=device-width", initial-scale="1.0", user-scalable="no")
    body
        nav.navbar.navbar-default.navbar-fixed-top
            div.container-fluid
                div.navbar-brand
                    a(href=leftIconLink, class=headIconLeft + ' grayIcon')
                    | &nbsp
                    b #{title}
                div.navbar-brand.pull-right
                    a(href=rightIconLink, class=headIconRight + ' grayIcon')

        div.container-fluid
            block content

        nav.navbar.navbar-default.navbar-fixed-bottom
            div.container-fluid
                div.navbar-brand.pull-right
                    a.glyphicon.glyphicon-user.blueIcon(href="/user/profile")

