block variables
doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='../stylesheets/style.css')
  body
    nav.navbar.navbar-default.navbar-fixed-top.blue
      div.container-fluid
        div.navbar-brand
          a(href=leftIconLink, class=headIconLeft + ' whiteIcon')
          | #{title}
        div.navbar-brand.pull-right
          a(href=rightIconLink, class=headIconRight + ' whiteIcon')

    div.container-fluid
      block content

    nav.navbar.navbar-default.navbar-fixed-bottom.blue
      div.container-fluid
        div.navbar-brand.pull-right
          a(href="/user/profile", class="glyphicon glyphicon-user whiteIcon")
